.contact-us {
  text-align: center;

  .low-main-text {
    color: #777777;
    margin-top: 65px;
  }

  .description-text {
    color: #444444;
    width: 70%;
    margin: 35px auto auto;
  }

  .btn {
    margin-top: 40px;
    margin-bottom: 70px;
    padding-left: 80px;
    padding-right: 80px;
  }
}