/*Reset*/
html, body, div, section, article, address, p, blockquote, ul, li, span, a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  color: #ffffff;
}

/*Fonts*/
@import url('https://fonts.googleapis.com/css?family=Lato:regular,bold,italic,black');

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  border: 0;
}

button {
  cursor: pointer;
  outline: none;
}

h1, h2, h3, h4, h5, p {
  font-family: 'Lato', sans-serif;
  color: #000000;
  margin: 0;
}

h1, h2 {
  font-weight: 700;
  line-height: 1.08;
}

section {
  font-size: 0;
}

ul {
  list-style-type: none;
}

.btn {
  padding: 20px 64px;
  font-size: 1.25rem;
  color: #ffffff;
  background: #e1aa6e;
  border: none;
  border-bottom: 10px solid #ba8e5b;
  cursor: pointer;
  outline: none;
}
