/*Reset*/
html, body, div, section, article, p, blockquote, ul, li, span{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  color: #ffffff;
}

/*Fonts*/
@import url('https://fonts.googleapis.com/css?family=Lato:regular,bold,italic,black');

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  border: 0;
}

button {
  cursor: pointer;
  outline: none;
}

h1, h2, h3, h4, h5, p {
  font-family: 'Lato', sans-serif;
  color: #000000;
  margin: 0;
}

h1, h2 {
  font-weight: 700;
  line-height: 1.08;
}

section {
  font-size: 0;
}

ul {
  list-style-type: none;
}

.wrapper {
  width: 85%;
  position: relative;
  margin: auto;
}

.btn {
  padding: 20px 64px;
  font-size: 1.25rem;
  color: #ffffff;
  background: #e1aa6e;
  border: none;
  border-bottom: 10px solid #ba8e5b;
  cursor: pointer;
  outline: none;
}

.main-text,
.main-text-after {
  line-height: 1.08;
  font-size: 3.2rem;
  font-weight: 900;
}

.main-text-after:after {
    display: block;
    content: "";
    width: 98px;
    height: 4px;
    background: #00b5d2;
    margin-left: 46.5%;
    margin-top: 0.7rem;
}

.description-text {
  font-size: 1.15rem;
  line-height: 1.08;
}

.low-main-text {
  line-height: 1.08;
  font-size: 1.5rem;
  font-weight: 900;
}
