.logo {
  display: inline-block;
  margin-left: 25px;
  margin-top: 30px;
}

.nav-header {
    display: inline-block;
    position: absolute;
    right: 0;
  li {
    display: inline-block;
    margin: 43px 17px;
  }
}

.nav-item {
  font-size: 1rem;
  color: #454546;
  text-align: center;
  text-shadow: 0.5px 0.5px #b75c1c;;
}

.nav-item:hover {
  color: #ffffff;
  cursor: pointer;
}

.nav-header {
  li:last-child {
    margin-right: 34px;
  }

  li:hover:after {
    display: block;
  }

  li::after {
    display: none;
    content: "";
    background: #00b5d2;
    height: 6px;
    margin-top: 2.3rem;
  }
}

.help {
  margin-top: -3.9rem;
  width: 100%;
  background: url('../img/background-main.jpg');
  background-size: cover;
}

.help-description {
  padding: 248px 0 128px 26px;
  max-width: 37%;

  h2 {
    color: #ffffff;
    margin-bottom: 3px;
    text-shadow: 1px 1px #222;
  }

  p {
    margin-top: 1rem;
    margin-bottom: 46px;
    color: #ffffff;
    text-shadow: 1px 1px #222;
  }
}

.banners {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  padding: 0.6rem 0;
  max-width: 100%;

  .banner {
    padding: 1rem;
    max-height: 100px;
  }
}
