.logo {
  display: inline-block;
  margin-left: 25px;
  margin-top: 30px;
}

.help {
  margin-top: -3.9rem;
  width: 100%;
  background: url('../img/background-main.jpg');
  background-size: cover;
}

.help-description {
  padding: 248px 0 128px 26px;
  max-width: 37%;

  h2 {
    color: #ffffff;
    margin-bottom: 3px;
    text-shadow: 1px 1px #222;
  }

  p {
    margin-top: 1rem;
    margin-bottom: 46px;
    color: #ffffff;
    text-shadow: 1px 1px #222;
  }
}

.banners {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 0.6rem 0;
  max-width: 100%;

  .banner {
    padding: 1rem;
    max-height: 100px;
  }
}

.main-text,
.main-text-after {
  line-height: 1.08;
  font-size: 3.2rem;
  font-weight: 900;
}

.main-text-after:after {
  display: block;
  content: "";
  width: 98px;
  height: 4px;
  background: #00b5d2;
  margin-left: 11.6rem;
  margin-top: 0.7rem;
}

.description-text {
  font-size: 1.15rem;
  line-height: 1.08;
}

.low-main-text {
  line-height: 1.08;
  font-size: 1.5rem;
  font-weight: 900;
}
