@media screen and (max-width: 469px) {
  .logo {
    width: 60%;
  }

  .help {
    margin-top: -6.9rem;
    background-size: 300%;
    background-position: left top;
  }

  .help-description {
    max-width: inherit;
  }

  .slider .main-text {
    padding: 10px;
  }

  .support .main-text {
    color: #ffffff;
    padding-top: 15px;
  }

  .join-us .join-us-info .main-text-after:after {
    margin-left: 0;
  }

  .support {
    min-height: 400px;
  }

  .footer-nav .footer-nav-item {
    padding: 0 10px;
  }
}