@media screen and (max-width: 469px) {
  .logo {
    margin-top: 3rem;
    width: 60%;
  }
  .help {
    margin-top: -6.9rem;
    background-size: 220%;
    background-position: left top;
  }
  .help-description {
    padding: 200px 0 100px 250px;
    width: auto;
  }
}