.slider {
  text-align: center;
  font-size: 0;
  background: #ffffff url('../img/background-slider.jpg') no-repeat;;
  background-size: contain;

  .main-text {
    padding: 56px 0 45px;
  }

  .slider-wrapper {

    img {
      border: 8px solid #ffffff;
      max-height: 485px;
    }
  }
}