.support {
  min-height: 500px;
  text-align: center;
  background-size: contain;
  background: url('../img/background-support.jpg');

  .main-text {
    color: #ffffff;
    padding-top: 95px;
  }

  .description-text {
    color: #ffffff;
    line-height: 1.8rem;
    padding-top: 35px;
  }
}