@media screen and (max-width: 991px) {
  .join-us {
    display: block;
  }

  .join-us-photo {
    display: none;
  }

  .help {
    width: auto;
  }

  .help-description {
    padding-top: 160px;
  }
}
