@media screen and (max-width: 991px) {
  .join-us {
    display: block;
  }

  .join-us-photo {
    display: none;
  }

  .help {
    width: auto;
  }

  .help-description {
    padding-top: 160px;
    width: auto;
    max-width: 45%;
  }

  .menu-burger{
    display: inline-block;
    position: absolute;
    top: 25px;
    right: 3%;
  }

  .nav-header {
    position: fixed;
    display: none;
    width: 45%;
    right: 0;
    margin-top: 5rem;
    background-color: #ead588;
    z-index: 1000;
  }

  .nav-item {
    display: block;
    padding: 6px 0;
    text-align: center;
  }

  .nav-item:active {
    color: #1f1510;
  }

  .nav-header {
    width: 50%;
  }

  .nav-header li {
    display: block;
  }

  .nav-header li:last-child {
    margin-right: auto;
    margin-left: auto;
  }

  .nav-header li::after {
    content: "";
    margin-top: -6px;
  }
}
