/*Reset*/
@import url("https://fonts.googleapis.com/css?family=Lato:regular,bold,italic,black");
html, body, div, section, article, address, p, blockquote, ul, li, span, a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-style: normal;
  color: #ffffff;
}

/*Fonts*/
a {
  text-decoration: none;
  cursor: pointer;
}

img {
  border: 0;
}

button {
  cursor: pointer;
  outline: none;
}

h1, h2, h3, h4, h5, p {
  font-family: "Lato", sans-serif;
  color: #000000;
  margin: 0;
}

h1, h2 {
  font-weight: 700;
  line-height: 1.08;
}

section {
  font-size: 0;
}

ul {
  list-style-type: none;
}

.btn {
  padding: 20px 64px;
  font-size: 1.25rem;
  color: #ffffff;
  background: #e1aa6e;
  border: none;
  border-bottom: 10px solid #ba8e5b;
  cursor: pointer;
  outline: none;
}

hr.pre-footer-line {
  margin-top: 58px;
  border: 3px solid #cccccc;
}

hr.post-footer {
  width: 80%;
  border: 1px solid #eeeeee;
}

footer {
  padding: 48px 0 52px;
  text-align: center;
}

.footer-nav {
  display: flex;
  justify-content: center;
}
.footer-nav .footer-nav-item {
  font-size: 1rem;
  padding: 0 28px;
  line-height: 1.08;
  font-weight: 900;
  color: #999999;
}

.squares {
  display: flex;
  justify-content: center;
}
.squares .square-item {
  padding: 45px 20px;
}

address, .tel {
  font-size: 0.8rem;
  color: #aaaaaa;
  font-weight: normal;
}

.tel {
  display: block;
  margin: 18px auto;
}

.mail {
  display: block;
  margin-bottom: 48px;
  color: #e1aa6e;
  font-size: 1rem;
}

.copyright {
  margin-top: 33px;
  color: #aaaaaa;
  font-size: 0.75rem;
}

.logo {
  display: inline-block;
  margin-left: 25px;
  margin-top: 30px;
}

.help {
  margin-top: -3.9rem;
  width: 100%;
  background: url("../img/background-main.jpg");
  background-size: cover;
}

.help-description {
  padding: 248px 0 128px 26px;
  max-width: 37%;
}
.help-description h2 {
  color: #ffffff;
  margin-bottom: 3px;
  text-shadow: 1px 1px #222;
}
.help-description p {
  margin-top: 1rem;
  margin-bottom: 46px;
  color: #ffffff;
  text-shadow: 1px 1px #222;
}

.banners {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 0.6rem 0;
  max-width: 100%;
}
.banners .banner {
  padding: 1rem;
  max-height: 100px;
}

.main-text,
.main-text-after {
  line-height: 1.08;
  font-size: 3.2rem;
  font-weight: 900;
}

.main-text-after:after {
  display: block;
  content: "";
  width: 98px;
  height: 4px;
  background: #00b5d2;
  margin-left: 11.6rem;
  margin-top: 0.7rem;
}

.description-text {
  font-size: 1.15rem;
  line-height: 1.08;
}

.low-main-text {
  line-height: 1.08;
  font-size: 1.5rem;
  font-weight: 900;
}

.join-us {
  display: flex;
  margin-top: 60px;
  background: #367ab7;
}
.join-us .join-us-photo {
  align-self: baseline;
  flex-shrink: 0;
  min-width: 50%;
}
.join-us .join-us-info {
  padding-left: 30px;
  padding-right: 60px;
  background: #367ab7;
}
.join-us .join-us-info .description-text.italic {
  font-style: italic;
  color: #ffffff;
  padding-top: 35px;
}
.join-us .join-us-info .description-text.in-team {
  line-height: 1.6;
  color: #ffffff;
}
.join-us .join-us-info .main-text-after {
  color: #ffffff;
}
.join-us .join-us-info .main-text-after:after {
  margin-left: 13rem;
  width: 122px;
}
.join-us .join-us-info .btn {
  background-color: #00b5d2;
  border-color: #008ea5;
  padding-left: 23px;
  padding-right: 23px;
}
.join-us .join-us-info > * {
  margin-bottom: 35px;
}
.join-us .join-us-info > *:nth-child(2) {
  margin-bottom: 20px;
}

.slider {
  text-align: center;
  font-size: 0;
  background: #ffffff url("../img/background-slider.jpg") top -50px center/contain no-repeat;
}
.slider .main-text {
  padding: 56px 0;
}
.slider .slider-wrapper img {
  border: 8px solid #ffffff;
  max-height: 485px;
}

.support {
  min-height: 500px;
  text-align: center;
  background: #00b5d2 url(../img/background-support.jpg) bottom center/contain no-repeat;
}
.support .main-text {
  color: #ffffff;
  padding-top: 95px;
}
.support .description-text {
  color: #ffffff;
  line-height: 1.8rem;
  padding-top: 35px;
}

.contact-us {
  text-align: center;
}
.contact-us .low-main-text {
  color: #777777;
  margin-top: 65px;
}
.contact-us .description-text {
  line-height: 1.8;
  color: #444444;
  width: 70%;
  margin: 35px auto auto;
}
.contact-us .btn {
  margin-top: 40px;
  margin-bottom: 70px;
  padding-left: 80px;
  padding-right: 80px;
}

.nav-header {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
}
.nav-header li {
  display: inline-block;
  padding: 43px 17px;
}

.nav-item {
  font-size: 1rem;
  color: #454546;
  text-align: center;
  text-shadow: 0.5px 0.5px #b75c1c;
}

.nav-item:hover {
  color: #1f1510;
  cursor: pointer;
}

.nav-header li:last-child {
  margin-right: 34px;
}
.nav-header li:hover:after {
  display: block;
}
.nav-header li::after {
  display: none;
  content: "";
  background: #00b5d2;
  height: 6px;
  margin-top: 2.3rem;
}

.menu-burger {
  display: none;
  width: 4rem;
  height: 2rem;
  position: relative;
  cursor: pointer;
}

.menu-burger span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #454546;
  opacity: 1;
  left: 0;
  transition: 0.25s ease-in-out;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  border-radius: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
}

.menu-burger span:nth-child(1) {
  top: 0;
}

.menu-burger span:nth-child(2), .menu-burger span:nth-child(3) {
  top: 13px;
}

.menu-burger span:nth-child(4) {
  top: 26px;
}

.menu-open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.menu-open span:nth-child(2) {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
}

.menu-open span:nth-child(3) {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
}

.menu-open span:nth-child(4) {
  top: 18px;
  width: 0;
  left: 50%;
}

.menu-open ~ .nav-header {
  display: block;
}

.submenu {
  position: absolute;
  margin-top: 3rem;
  display: none;
  left: 0;
  width: 90%;
}

.submenu li {
  background: #ead588;
  width: 100%;
  display: block;
  padding: 1rem 1rem 0.5rem;
}

.submenu li:after {
  content: normal;
}

.nested {
  position: relative;
  margin-left: 1rem;
  margin-top: 0;
  padding-bottom: 0;
}

@media screen and (max-width: 991px) {
  .join-us {
    display: block;
  }

  .join-us-photo {
    display: none;
  }

  .help {
    width: auto;
  }

  .help-description {
    padding-top: 160px;
    width: auto;
    max-width: 45%;
  }

  .menu-burger {
    display: inline-block;
    position: absolute;
    top: 25px;
    right: 3%;
  }

  .nav-header {
    position: fixed;
    display: none;
    width: 45%;
    right: 0;
    margin-top: 5rem;
    background-color: #ead588;
    z-index: 1000;
  }

  .nav-item {
    display: block;
    padding: 6px 0;
    text-align: center;
  }

  .nav-item:active {
    color: #1f1510;
  }

  .nav-header {
    width: 50%;
  }

  .nav-header li {
    display: block;
  }

  .nav-header li:last-child {
    margin-right: auto;
    margin-left: auto;
  }

  .nav-header li::after {
    content: "";
    margin-top: -6px;
  }
}
@media screen and (max-width: 750px) {
  .help-description {
    max-width: 70%;
  }

  .slider-wrapper img {
    width: calc(100% - 16px);
  }

  .slider {
    background-repeat: repeat;
  }

  .footer-nav .footer-nav-item {
    padding: 0 20px;
  }
}
@media screen and (max-width: 469px) {
  .logo {
    width: 60%;
  }

  .help {
    margin-top: -6.9rem;
    background-size: 300%;
    background-position: left top;
  }

  .help-description {
    max-width: inherit;
  }

  .slider .main-text {
    padding: 10px;
  }

  .support .main-text {
    color: #ffffff;
    padding-top: 15px;
  }

  .join-us .join-us-info .main-text-after:after {
    margin-left: 0;
  }

  .support {
    min-height: 400px;
  }

  .footer-nav .footer-nav-item {
    padding: 0 10px;
  }
}

/*# sourceMappingURL=style.css.map */
